@mixin light-color($percent: 0){
    background-color: lighten($base-color, $percent * 10);
}

@mixin dark-color($percent: 0){
    background-color: darken($base-color, $percent * 10);
}

@mixin text-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}