@import "fonts";
@import "variables";

html,
body {    
    height: 100vh;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%; 
    text-transform: uppercase;  
}

header {
    display: flex;
    justify-content: space-between;   
    padding: 0 10px;
    background-color: $base-color;      
    font-family: $default-font-family;        
}

nav {
    display: flex;    
    justify-content: space-evenly;    
    background-color:$secondary-color;    
    font-family: $secondary-font-family; 
}

a{   
    flex: 1 1 auto;        
    margin: 1px;   
    background-color: white;
    font-size: 0.5em;   
    text-align: center;      
    text-decoration: none;
}

@media screen and (max-width: 335px){
    main{        
        justify-content: space-between;
    }

    header {
        :nth-child(2){
            display: none;
        }
    }    
}