$base-color: lightpink;
$secondary-color: darkgray;
$base-text-color: white;
$base-border-radius: 5px;
$base-border-color: black;
$base-width: 100%;
$default-font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font-family: 'Roboto Mono', Courier, monospace;
$shadow-position: 'left';