$base-color: blue;
$base-text-color: white;
$base-border-radius: 10px;
$base-border-color: gray;
$base-width: 100%;
$default-font-family: 'Times New Roman', Times, serif;
$secondary-font-family: 'Courier New', Courier, monospace;
$shadow-position: 'right';